<footer class="footer">
  <div class="wrap footin">
    <div>
      <div class="flogo"><span class="mark">z</span>zapys24</div>
      <div class="ftag">CRM і онлайн-запис для сервісного бізнесу. Більше записів, менше хаосу.</div>
      <div class="fbadges"><a class="fbadge" href="#">▸ App Store</a><a class="fbadge" href="#">▸ Google Play</a></div>
    </div>
    <div class="fcol"><h4>Продукт</h4><a href="#">Можливості</a><a href="#">Інтеграції</a><a href="#prices">Тарифи</a><a href="#faq">FAQ</a></div>
    <div class="fcol"><h4>Галузі</h4><a href="#">Краса</a><a href="#">Кінний спорт</a><a href="#">Автосервіс</a><a href="#">Фітнес</a></div>
    <div class="fcol"><h4>Компанія</h4><a href="#">Про нас</a><a href="#">Блог</a><a href="#">Контакти</a><a href="#">Підтримка</a></div>
  </div>
  <div class="wrap footbot"><span>© 2026 Zapys24 · підтримка українською</span><span>Політика конфіденційності · Умови використання</span></div>
</footer>
